@font-face {
font-family: Gotham Narrow SSm;

src: url("fonts/Gotham/Gotham Narrow/Calibri.ttf") format("opentype");
}

.custom{
   
    color:#fff;
    font-family: "Gotham Narrow SSm",sans-serif;
    margin:0;
    padding:0;
    width:100%;
}
.main-box{
    
    width: 100%;
    max-width: 500px;
    
    background-color: rgba(255,255,255,1);
    margin:0em auto;
    box-shadow: 0 0 1px 0px #000;
}
.overlay{
    padding:10px;
    font-size: 30px;
/*    box-shadow: 0px 1px 2px 00px #000;*/
    text-align: center;
    border-bottom: 4px solid #22313F;
    background-color: #336E7B;
    height: 60px;
}
.overlay i{
    position: relative;
    letter-spacing: 9px;
    font-size: 25px;
    text-shadow: 0 0 1px #000;
    top: 4px;
}
.overlay span{
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 28px;
}


.main-content{
    
    overflow: hidden;
}
.main-content input{
    margin:30px auto;
    margin-bottom: 15px;
    height:60px;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    font-size: 22px;
    width:80%;
    
}
.main-content input:focus{
    box-shadow: 0 0 1px 0px #000;
    
    color:#000;
    border-color: rgba(149, 165, 166,0.2);

}




.generatebtn{
    border-radius: 0;
    box-shadow: 0 0 1px 0px #000;
    background-color: #C0392B;
    width:100%;
    height:80px;
    font-size: 24px;
    box-shadow: 0px 0px 2px 00px #000;
    outline: 0;
    color:#fff;
    
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
.generatebtn:active{
    color:#fff;
    outline: 0;
    
}
.generatebtn:focus{
    color:#fff;
    outline: 0;
    
}
.generatebtn:hover{
    color:#fff;
    outline: 0;
    
}

.footer{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #eee;
}
.fooditem {
    color: black;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.fooditem .name{
    
}
.fooditem .cost{
    float: right;
    margin-right: 10px;
}

#show{
    padding:10px;
    color:black;
}
#show .error{
    text-align: center;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
      
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
      
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

.spin{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
    
    -moz-animation-name:             rotate; 
    -moz-animation-duration:         1s; 
    -moz-animation-iteration-count:  infinite;
    -moz-transition-timing-function: linear;
}


.custom-tab-ul{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    
}
.custom-tab-ul li:first-child{ 
    border-right:1px solid #eee;
}
.custom-list{
    width:50%;
    display: -moz-inline-grid;
    float: left;
    background-color: #336E7B;
    
}
.custom-list.active a{
    background-color: #eee;
    color:black;
}
.custom-list a{
    color:#fff;
}
.custom-list a i{
    letter-spacing: 10px;
}

.main-content.menu input{
    height: 40px;
    width: 44%;
    margin:0px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    font-size: 18px;
}
.inputs-menu{
    
    text-align: center;
    padding: 15px 0;
}
#show-menu{
    padding:10px;
    display: none;
    color:black;
    overflow-x: auto;
    height:0px;
    
}

.total-cost{
    position: fixed;
    bottom:-1px;
    text-align: center;
    height:60px;
    
    width:100%;
    background-color: #fff;
    max-width: 500px;
    
  
    
    font-size: 18px;
    box-shadow: 0px 0px 2px 00px #000;
    color:#22313F;
    
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}


/*
.bottom-tab-button{
    padding:15px;
    width:33.333%;
    float:left;
}
*/
/*
.bottom-tab-button:hover{
    cursor: pointer;
}
.bottom-tab-button.clear{
    
    background-color: rgba(129, 207, 224,0.2);
    border-top:4px solid rgba(34, 167, 240,1);
}
.bottom-tab-button.total{
    background-color: rgba(34, 167, 240,0.2);
    border-top:4px solid rgba(30, 139, 195,1);
}
.bottom-tab-button.confirm{
    background-color: rgba(31, 58, 147,0.2);
    border-top:4px solid rgba(31, 58, 147,1);
}
*/
.selected-box-cont{
    position: absolute;
    width:100%;
    max-width: 500px;
    overflow: hidden;
    display:none;
    top: 65px;
}
.selected-box{
    padding:10px;
    height:300px;
    position: relative;
    background-color: rgba(255,255,255,1);
    left:500px;
    overflow-y: scroll;
/*    border-radius:8px;*/
/*    border:2px solid black;*/
    color:black;
    z-index: 1;
}

.history-box-cont{
    position: absolute;
    width:100%;
    max-width: 500px;
    overflow: hidden;
    top: 65px;
    display:none;
    
}
.history-box{
    padding:10px;
    height:300px;
    position: relative;
    background-color: rgba(255,255,255,1);
    left:0px;
    overflow-y: scroll;
/*    border-radius:8px;*/
/*    border:2px solid black;*/
    color:black;
    z-index: 1;
    
    
}

#history{
    overflow-y: scroll;
    height: 426px;
}

.quan{
    float:right;
    padding: 3px 12px;
    margin: 0px 10px -7px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;
    border-bottom: 2px solid #81CFE0;
    position: relative;
    top: -2px;
    z-index: 0;
    
}
.no-margin{
    margin-bottom:0px !important;
}
.bottom-tab-button span{
    margin: 0 4px;
    top: 1px;
    font-size: 14px;
}
.bottom-tab-button-back{
    
    
    width: 50%;
    position: relative;
    font-size: 18px;
    line-height: 35px;
    float: left;
    border-radius: 0px;
}
.bottom-tab-button-back#confirm{
    width: 102%;
    padding-left: 10%;
    padding-right: 10%;
    height: 60px;
    line-height: 42px;
    left: -3px;
}
    
}
.bottom-tab-button-back span{
    top:3px;
}
.seperator{
    
}
.topbuttons{
    font-size: 18px!important;
    font-weight: 100!important;
}
.topbuttons .glyphicon{
    font-size: 12px;
}
.overlay .title span{
    font-size: 26px;
    font-weight: 100;
    text-shadow: none;
}

.overlay.overlay-his{
    background-color:#1E824C;
    border-bottom:2px solid #6C7A89;
    padding:3px;
    margin-bottom: 10px;
    height: 50px;
    
}
.overlay.overlay-his span{
    color:white;
    font-size: 18px;
    font-weight: 100;
    top: -3px;
    position: relative;
}
.fooditem.total-css {
    background-color: #1E8BC3;
    color: white;
    border-radius: 0px;
    margin-top: 13px;
    font-size: 18px;
    padding: 15px;
}
.fooditem-date{
    background-color: #1E8BC3;
    color: #fff;
    margin-bottom: 0px;
}
.fooditem-subs-cont {
    padding:5px 0px;
    padding-left:20px;
    background-color: #eee;
    font-size: 14px;
    display: none;
    
}
.fooditem-subs {
    padding-bottom: 5px;
    padding-right: 40px;
}
.fooditem-subs .cost {
    float:right;
}
.onedate{
    margin-bottom:5px;
}


.fooditem-date .glyphicon.glyphicon-chevron-down {
    margin: 0 6px;
    font-size: 12px;
}

#total {
    color: #fff;
    font-size: 20px;
}
#confirm{
    color: #EEEEEE;
}