@font-face {
font-family: Gotham Narrow SSm;

src: url("fonts/Gotham/Gotham Narrow/Calibri.ttf") format("opentype");
}

.custom{
   
    color:#fff;
    font-family: "Gotham Narrow SSm",sans-serif;
    margin:0;
    padding:0;
    width:100%;
}
.main-box{
    
    width: 100%;
    max-width: 500px;
    
    background-color: rgba(255,255,255,1);
    margin:0em auto;
    box-shadow: 0 0 1px 0px #000;
}
.overlay{
    padding:10px;
    font-size: 30px;
/*    box-shadow: 0px 1px 2px 00px #000;*/
    text-align: center;
    border-bottom: 4px solid #22313F;
    background-color: #52B3D9;
}
.overlay i{
    position: relative;
    letter-spacing: 9px;
    font-size: 25px;
    text-shadow: 0 0 1px #000;
    top: 4px;
}
.overlay span{
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 28px;
    text-shadow: 0 0 1px #336E7B;
}


.main-content{
    
    overflow: hidden;
}
.main-content input{
    margin:30px auto;
    margin-bottom: 15px;
    height:60px;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    background-color:rgba(149, 165, 166,0.2);
    font-size: 22px;
    width:80%;
    
    
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    
}
.main-content input:focus{
    box-shadow: 0 0 2px 0px #000;
    background-color:rgba(149, 165, 166,1);
    color:#fff;
    border-color: rgba(149, 165, 166,1);
}
.main-content input:focus::-webkit-input-placeholder { 
    color: #ddd;
}

.main-content input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ddd; 
}
.main-content input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd; 
}
.main-content input:focus:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ddd; 
}

/*

.generatebtn{
    border-radius: 0;
    box-shadow: 0 0 1px 0px #000;
    background-color: #C0392B;
    width:100%;
    height:80px;
    font-size: 24px;
    box-shadow: 0px 0px 2px 00px #000;
    outline: 0;
    color:#fff;
    
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
.generatebtn:active{
    color:#fff;
    outline: 0;
    
}
.generatebtn:focus{
    color:#fff;
    outline: 0;
    
}
.generatebtn:hover{
    color:#fff;
    outline: 0;
    
}
*/
.footer{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #eee;
}
.fooditem {
    color: black;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}
.fooditem .name{
    
}
.fooditem .cost{
    float: right;
    margin-right: 10px;
}

#show{
    padding:10px;
    color:black;
}
#show .error{
    text-align: center;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
      
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
      
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

.spin{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
    
    -moz-animation-name:             rotate; 
    -moz-animation-duration:         1s; 
    -moz-animation-iteration-count:  infinite;
    -moz-transition-timing-function: linear;
}


.custom-tab-ul{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    
}
.custom-tab-ul li:first-child{ 
    border-right:1px solid #eee;
}
.custom-list{
    width:50%;
    display: -moz-inline-grid;
    float: left;
    background-color: #336E7B;
    
}
.custom-list.active a{
    background-color: #eee;
    color:black;
}
.custom-list a{
    color:#fff;
}
.custom-list a i{
    letter-spacing: 10px;
}

.main-content.menu input{
    height: 40px;
    width: 44%;
    margin:0px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    font-size: 18px;
}
.inputs-menu{
    
    text-align: center;
    padding: 15px 0;
}
#show-menu{
    padding:10px;
    display: none;
    color:black;
    overflow-x: auto;
    height:0px;
    
}

.total-cost{
    position: fixed;
    bottom:-1px;
    text-align: center;
    height:60px;
    
    width:100%;
    background-color: #fff;
    max-width: 500px;
    
  
    
    font-size: 18px;
    box-shadow: 0px 0px 2px 00px #000;
    color:#22313F;
    
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
.bottom-tab-button{
    padding:15px;
    width:33.333333%;
    float:left;
}
.bottom-tab-button:hover{
    cursor: pointer;
}
.bottom-tab-button.clear{
    
    background-color: rgba(129, 207, 224,0.2);
    border-top:4px solid rgba(34, 167, 240,1);
}
.bottom-tab-button.total{
    background-color: rgba(34, 167, 240,0.2);
    border-top:4px solid rgba(30, 139, 195,1);
}
.bottom-tab-button.confirm{
    background-color: rgba(31, 58, 147,0.2);
    border-top:4px solid rgba(31, 58, 147,1);
}
.selected-box-cont{
    position: absolute;
    width:100%;
    max-width: 500px;
    overflow: hidden;
    display:none;
    padding:20px;
    
}
.selected-box{
    padding:10px;
    height:300px;
    position: relative;
    background-color: rgba(255,255,255,1);
    left:500px;
    overflow-y: scroll;
    border-radius:8px;
    border:2px solid black;
    color:black;
    z-index: 1;
}
.quan{
    float:right;
    padding: 3px 12px;
    margin: 0px 10px -7px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 1px;
    border-bottom: 2px solid #81CFE0;
    position: relative;
    top: -5px;
    z-index: 0;
    
}

